/******************************************************
                   CSS de l'index
******************************************************/
.row{
	margin: 0;
	padding: 0;
}


.index-header
{
	/*background-color: rgba(57,85,52,0.5);*/
	background: rgba(189,8,48,1);
	margin-top: 0px;
	margin-bottom: 0px;
	height:129px;
	padding: 15px;
}

.index-projector
{
	background: #463D3D;
}

/******************************************************
                  CSS de l'index
******************************************************/


/******************************************************
                  CSS de contact.php
******************************************************/
.page {
	width: 100%;
	height: 100vh	;
	/* background-image: url("../img/the-barn-beef-burguer.jpg"); */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
}
#content {
	padding: 20px;
	margin-top:  20px;
}
.nameForm {
	color: white;
}
label {
	color: white;
}
.well {
	background-color: rgba(51, 51, 51, 0.5);

}

.list {
	color: white;

}



#section1 {
	width: 100%;
	height: 300px;
	overflow: hidden;
	border-bottom: 3px solid rgb(189,8,48);
	margin-bottom: 20px;	
}

#section2 {
	
}
.name {
	margin-top: 0px;
}
a.front{
	font-family: "Kaushan Script", cursive;
	color: whitesmoke;
}



.myrow{
	margin-top: 50px;
}
.address {
	font-family: 'Roboto',sans-serif;
	font-size: 18px;
	color: white;

	
}

.projector {
	background-size: cover;
	width: 100%;
}

.imgrecipe {
	width: 340px;
	height: 255px;
	border: 1px solid #fff;
	
}

.index-main {
	height: auto;
}

#textcontent {
	width: 758px;
}

.titlemodif {
	color: white;
}

footer {
	width: 100%;
	height: 120px;
	background-color: rgba(189,8,48,0.3);
	position: absolute;
	bottom: -130px;
}
