/******************************************************
                   CSS de l'index
******************************************************/
.index-header
{
	/*background-color: rgba(57,85,52,0.5);*/
	background: rgba(189,8,48,1);
	margin-top: 0px;
	margin-bottom: 0px;
	height: 110px;
}

.index-projector
{
	background: #463D3D;
}

/******************************************************
                  CSS de l'index
******************************************************/


/******************************************************
                  CSS de contact.php
******************************************************/
.page {
	width: 100%;
	height: 100vh	;
	background-image: url("../img/the-barn-beef-burguer.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
}
#content {
	width: 800px;
}
.nameForm {
	color: white;
}
label {
	color: white;
}
.well {
	background-color: rgba(51, 51, 51, 0.6);
}

.list {
	color: white;
}


/*****************************************FOOTER**************************************/






#section1 {
	width: 100%;
	height: 200px;
	
}

#section2 {
	
}
.name {
	margin-top: 0px;
}
a {
	font-family: "Kaushan Script", cursive;
	color: whitesmoke;
}

.address {
	font-family: 'Roboto',sans-serif;
	font-size: 18px;
	color: white;
	margin-bottom: -5px;
}

.projector {
	background-size: cover;
	width: 100%;
	height:100vh;
	opacity: 0.8;	
}

.imgrecipe {
	width: 340px;
	height: 255px;
}

.footer {
	height: 200px;
	background: rgba(255,255,255,0.5);	
}



.foot {
	height: 100px;
}

.index-main {
	height: auto;
}
